.node-list {
  $self: &;
  &--directory-section-feed {
    #{ $self }__node {
      @include marko-web-node-list-border(border-bottom);
    }
    .section-feed-content-node {
      flex-direction: row;
      &__image-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        height: auto;
        margin-right: 15px;
        @include media-breakpoint-up(md) {
          width: auto;
          height: auto;
        }
        a {
          align-self: center;
        }
      }
      &__image {
        width: auto;
        max-width: 100%;
        height: auto;
      }
    }
  }
  &--featured-listings {
    #{ $self }__node {
      padding: 15px 0;
      margin: 0 15px 15px;
      background-color: $white;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    #{ $self }__header {
      padding: 15px;
      color: $white;
      background-color: $primary;
    }
    .section-feed-content-node {
      &__body {
        margin: 0 15px;
      }
    }
  }
}
.page-wrapper {
  &__section {
    &--featured-listings {
      margin-bottom: 15px;
      background-color: $gray-100;
      &:empty {
        display: none;
      }
    }
  }
}
