.partners {
  width: 100%;
  padding-bottom: 15px;
  .card-deck-flow {
    &__node {
      @include make-col-ready();
      @include make-col(1);
      max-width: 100%;
      margin-bottom: 0;
    }
    &__node:nth-of-type(n + 5) {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    &__node:nth-of-type(n + 3) {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  @include media-breakpoint-up(md) {
    background-color: $gray-100;
  }
}

.page-wrapper {
  &__section {
    &--premium-partners {
      margin-bottom: 0;
      .ad-container {
        &--with-label-partners {
          padding-bottom: 0;
          > *:first-child {
            padding-top: 8px;
            padding-bottom: 8px;
            &::before {
              display: none;
            }
          }
          .partners {
            flex-direction: row;
            background-color: #fff;
            @media (max-width: $marko-web-document-container-max-width) {
              padding-right: 16px;
              padding-left: 16px;
            }
          }
        }
      }
      .card-deck-flow {
        &::before {
          padding-top: .5rem;
          font-size: 13px;
          font-weight: $font-weight-bold;
          color: $gray-800;
          text-transform: none;
          content: "Premium Partners:";
        }
        &__node {
          padding-right: 4px;
          padding-left: 4px;
        }
      }
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
}
