$theme-site-header-breakpoints: (
  hide-primary: 100000px, // effectively always hide the primary nav
  hide-secondary: 780px,
  small-logo: 980px,
  small-text-primary: 0,
  small-text-secondary: 980px
);

// Colors
$primary: #103a57;

@import "../../node_modules/@ab-media/package-global/scss/core";

.page-contents {
  &__content-body {
    em > [data-embed-type="image"][data-embed-align="left"] {
      width: calc(125px - .75rem);
      margin: 0;
    }
  }
}
