$ const { $projectsGraphQL } = out.global;
$ const { operation, variables } = input;

<marko-web-resolve|{ resolved }| promise=$projectsGraphQL.query({ query: operation, variables })>
  <${input.renderBody} ...resolved />
</marko-web-resolve>
