$theme-site-header-breakpoints: (
  hide-primary: 100000px, // effectively always hide the primary nav
  hide-secondary: 780px,
  small-logo: 980px,
  small-text-primary: 0,
  small-text-secondary: 980px
);

// Colors
$primary: #103a57;

$theme-site-navbar-logo-height: 50px;
// $navbarStyle: "navbar2";
// $navbar-button-color: #005cb1;
// $theme-site-navbar-primary-type: light;

@import "../../node_modules/@ab-media/package-global/scss/core";
