
$ const node = {
  type: "promotion",
  shortName: "Aqua Toolbox",
  teaser: "Dig through our best stories from the magazine, all sorted by category for easy surfing.",
  linkText: "Read More",
  siteContext: {
    path: "https://library.aquamagazine.com/",
  },
  primaryImage: {
    src: "https://img.aquamagazine.com/files/base/abmedia/all/image/static/aqua/Bookpile.jpeg?auto=format&w=120&fit=crop",
    alt: "Aqua Toolbox",
    isLogo: false,
  }
};

<global-standard-promo-block node=node />
