$ const node = {
  type: "promotion",
  shortName: "AQUA Live",
  teaser: "A three-day event designed to make you a better pool and spa professional.",
  linkText: "Read More",
  siteContext: {
    path: "http://www.aquamag.live",
  },
  primaryImage: {
    src: "https://img.aquamagazine.com/files/base/abmedia/all/image/static/aqua/aqua-live.png?auto=format&w=120&fit=crop",
    alt: "AQUA Live",
    isLogo: false,
  }
};

<global-standard-promo-block node=node />
