.site-newsletter-menu,
.newsletter-signup-banner-large {
  &__form-wrapper {
    h4 {
      @include skin-typography($style: "section-header");
      margin-bottom: 6px;
      line-height: 1.25;
      text-transform: none;
    }
    p {
      @include skin-typography($style: "teaser-text-1");
      margin-bottom: 16px;
    }
  }
}

.newsletter-signup-banner-large {
  &__form-wrapper {
    max-width: 520px;
    margin: auto;
    form {
      @include media-breakpoint-up(sm) {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
    .form-group {
      width: 312px;
      max-width: 100%;
      label {
        display: none;
      }
      @include media-breakpoint-up(sm) {
        margin-bottom: 0;
        margin-right: map-get($spacers, 3);
      }
    }
  }
}
