$ const { id, type, pageNode, primarySection, ...rest } = input;

<global-content-default-layout
  id=id
  type=type
  page-node=pageNode
  ...rest
>
  <@after-body>
  <if([76809, 76810].includes(primarySection.id))>
    <site-pinterest-block primary-section-id=primarySection.id />
  </if>
  </@after-body>
  <@section>
    <site-promo-card-rotation-block />
  </@section>

  <@section>
    <theme-client-side-most-popular-block />
  </@section>
</global-content-default-layout>
