$theme-site-header-breakpoints: (
  hide-primary: 100000px, // effectively always hide the primary nav
  hide-secondary: 780px,
  small-logo: 980px,
  small-text-primary: 0,
  small-text-secondary: 980px
);

// Colors
$primary: #103a57;

@import "../../node_modules/@ab-media/package-global/scss/core";

.project-gallery-architects,
.project-gallery-vendors {
  padding-bottom: map-get($spacers, block);

  &__header {
    @include theme-apply-fonts(
      $font-family: $theme-content-heading-h4-font-family,
      $font-size-sm: $theme-content-heading-h4-font-size-sm,
      $font-size: $theme-content-heading-h4-font-size,
      $font-weight: $theme-content-heading-h4-font-weight,
      $line-height-sm: $theme-content-heading-h4-line-height-sm,
      $line-height: $theme-content-heading-h4-line-height
    );
    @include media-breakpoint-down($theme-responsive-text-breakpoint) {
      margin-bottom: $theme-content-heading-h4-margin-bottom-sm;
    }
    margin-bottom: $theme-content-heading-h4-margin-bottom;
  }
}

.project-gallery-architects {
  &__container {
    margin-bottom: map-get($spacers, block);
  }

  &__role {
    @include skin-typography($style: "header-3");
  }

  &__item {
    @include skin-typography($style: "small-body-text", $link-style: "with-hover-color");

    a {
      display: inline;
    }
  }
}

.project-gallery-vendors {
  &__item {
    @include skin-typography($style: "small-body-text", $link-style: "with-hover-color");
    margin-bottom: map-get($spacers, block-sm);

    a {
      display: inline;
    }
  }

  &__category-name {
    margin-right: map-get($spacers, block-xs);
    font-weight: $font-weight-bold;
  }
}

.partners {
  .card-deck-flow {
    &__node {
      width: auto;
      padding-right: 9px;
      padding-left: 8px;
    }
  }
}

.architectural-showcase-featured {
  &__header {
    text-align: center;
  }

  &__description {
    margin-top: 6px;
    text-align: center;
    @include skin-typography($style: "article-text");
  }

  &__row {
    @include make-row();
    margin-top: 24px;
    @include media-breakpoint-up(lg) {
      margin-top: 30px;
    }
  }

  &__col-left {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(7);
    }
  }

  &__col-right {
    margin-top: 30px;
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      margin-top: 0;
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(5);
    }
  }
}

.featured-fow-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  background-color: $gray-100;
  border-radius: 4px;

  &__image-container {
    display: flex;
    margin-bottom: 11px;
  }

  &__image-wrapper {
    @include marko-web-node-fluid-image(1, 1);
  }

  &__image {
    @include marko-web-node-fluid-image-item();
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__header {
    margin-bottom: 8px;
    @include skin-typography($style: "header-2");
  }

  &__title {
    @include skin-typography($style: "header-3", $link-style: "primary");
  }

  &__view-all-link {
    padding-top: 16px;
    margin-top: auto;
    @include skin-typography($style: "view-more", $link-style: "primary");
  }
}

.featured-fom-card {
  height: 100%;

  &__body {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    margin-bottom: 16px;
    @include marko-web-node-list-border($property: border-bottom);
  }

  &__image-container {
    display: flex;
    margin-bottom: 11px;
  }

  &__image-wrapper {
    @include marko-web-node-fluid-image(1, 1);
  }

  &__image {
    @include marko-web-node-fluid-image-item();
  }

  &__header {
    margin-bottom: 4px;
    @include skin-typography($style: "header-2");
  }

  &__view-all-link {
    margin-top: 12px;
    @include skin-typography($style: "view-more", $link-style: "primary");
  }
}
